<ion-header class="no-shadow">
  <ion-navbar class="no-border">
    <button ion-button menuToggle class="text-light">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <span class="text-light">
        <strong>{{ 'crudlist.title' | translate }}</strong>
      </span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
      <button ion-item class="text-15x" menuClose *ngFor="let p of pages" tappable (click)="openPage(p)">
        <ion-icon item-left [name]="p.icon" color="primary"></ion-icon>
        <span ion-text color="primary">{{p.title}}</span>
      </button>
    </ion-list>
</ion-content>
