<ion-content class="no-scroll presentation-bg">
  <div class="auth-content">
    <!-- Logo -->
    <div class="animated fadeInDown" padding-horizontal text-center>
      <div class="logo">
        <img src="assets/icon/icon256.png" tappable (click)="navCtrl.setRoot('page-intro')">
      </div>
      <h2 ion-text color="light" no-margin>
        <span class="text-bright">fire</span><strong>Ionic</strong>
      </h2>
    </div>

    <div padding-vertical class="animated fadeIn">
      <form [formGroup]="loginForm" (keydown)="keyDownFunction($event)" class="list-form">

        <ion-item>
          <ion-label floating>
            <ion-icon name="mail" item-start class="text-white"></ion-icon>
             {{ 'auth.form.email' | translate }}
          </ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
        <p ion-text no-margin color="danger" class="text-12x has-error animated fadeIn" *ngIf="(loginForm.controls.email.hasError('required') || !loginForm.controls.email.valid) && hasError">{{ 'auth.form.error.email' | translate }}</p>

        <ion-item>
          <ion-label floating>
            <ion-icon name="lock" item-start class="text-white"></ion-icon>
            {{ 'auth.form.password' | translate }}
          </ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <p ion-text no-margin color="danger" class="text-12x has-error animated fadeIn" *ngIf="(loginForm.controls.password.hasError('required') || !loginForm.controls.password.valid) && hasError">{{ 'auth.form.error.password' | translate }}</p>

        <div text-center padding-vertical>
          <button ion-button block round color="dark" (click)="login()" [disabled]="!network.online()"><b>{{ 'auth.button.login' | translate }}</b></button>
          <p ion-text color="light">{{ 'auth.login.text' | translate }}</p>

          <ion-grid class="btn-group">
            <ion-row>
              <button ion-button icon-only block (click)="loginWithFacebook()" [disabled]="!network.online()" class="btn-facebook text-white col col-4 col-md-3 col-lg-2">
                <ion-icon name="logo-facebook"></ion-icon>
              </button>
              <button ion-button icon-only block (click)="loginWithTwitter()" [disabled]="!network.online()" class="btn-twitter text-white col col-4 col-md-3 col-lg-2">
                <ion-icon name="logo-twitter"></ion-icon>
              </button>
              <button ion-button icon-only block (click)="loginWithGoogle()" [disabled]="!network.online()" class="btn-gplus text-white col col-4 col-md-3 col-lg-2">
                <ion-icon name="logo-googleplus"></ion-icon>
              </button>
            </ion-row>
          </ion-grid>

          <p ion-text color="light">{{ 'auth.login.question' | translate }}<strong tappable (click)="navCtrl.setRoot('page-register')">{{ 'auth.login.question.button' | translate }}</strong></p>
        </div>

      </form>
    </div>
  </div>
</ion-content>
