<ion-header class="no-shadow">
  <ion-navbar class="no-border">
    <button ion-button menuToggle class="text-light">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <span class="text-light">
        <strong *ngIf="!event.id">{{ 'eventlist.detail.buttom.add' | translate }}</strong>
        <strong *ngIf="event.id">{{ 'eventlist.detail.buttom.edit' | translate }}</strong>
      </span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="light-bg">

  <ion-card>
    <ion-card-content>
      <form [formGroup]="createEventForm" (submit)="manageEvent()" novalidate>
        <ion-item no-padding>
          <ion-label ion-text color="primary" class="bold" stacked>{{ 'eventlist.detail.eventname.title' | translate }}</ion-label>
          <ion-input formControlName="eventName" type="text" placeholder="What will be the name?">
          </ion-input>
        </ion-item>

        <ion-item no-padding>
          <ion-label ion-text color="primary" class="bold" stacked>{{ 'eventlist.detail.eventlocation.title' | translate }}</ion-label>
          <ion-input formControlName="eventLocation" type="text" placeholder="Where will happen?">
          </ion-input>
        </ion-item>

        <ion-item no-padding>
          <ion-label ion-text color="primary" class="bold" stacked>{{ 'eventlist.detail.eventdate.title' | translate }}</ion-label>
          <ion-datetime displayFormat="DDDD MMM DD, YYYY" min="2018" max="2018-12-31" formControlName="eventDate" placeholder="When will happen?" (ionChange)="showDate($event)"></ion-datetime>
        </ion-item>

        <ion-item no-padding>
          <ion-label ion-text color="primary" class="bold" stacked>{{ 'eventlist.detail.eventdesc.title' | translate }}</ion-label>
          <ion-textarea formControlName="eventDescription" type="text" placeholder="Describe more about...">
          </ion-textarea>
        </ion-item>

        <button ion-button block color="primary" type="submit" [disabled]="!createEventForm.valid">
          <span *ngIf="!event.id">{{ 'eventlist.detail.buttom.add' | translate }}</span>
          <span *ngIf="event.id">{{ 'eventlist.detail.buttom.edit' | translate }}</span>
        </button>
      </form>
    </ion-card-content>
  </ion-card>

</ion-content>
