<ion-header class="no-shadow">
  <ion-navbar class="no-border">
    <button ion-button menuToggle class="text-light">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <span class="text-light">
        <strong *ngIf="!song.id">{{ 'songlist.detail.buttom.add' | translate }}</strong>
        <strong *ngIf="song.id">{{ 'songlist.detail.buttom.edit' | translate }}</strong>
      </span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="light-bg">

  <ion-card>
    <ion-card-content>
      <form [formGroup]="createSongForm" (submit)="manageSong()" novalidate>
        <ion-item no-padding>
          <ion-label ion-text color="primary" class="bold" stacked>{{ 'songlist.detail.songname.title' | translate }}</ion-label>
          <ion-input formControlName="songName" type="text" placeholder="What's this song called?">
          </ion-input>
        </ion-item>

        <ion-item no-padding>
          <ion-label ion-text color="primary" class="bold" stacked>{{ 'songlist.detail.artistname.title' | translate }}</ion-label>
          <ion-input formControlName="artistName" type="text" placeholder="Who sings this song?">
          </ion-input>
        </ion-item>

        <ion-item no-padding>
          <ion-label ion-text color="primary" class="bold" stacked>{{ 'songlist.detail.albumname.title' | translate }}</ion-label>
          <ion-input formControlName="albumName" type="text" placeholder="What's the album's name?">
          </ion-input>
        </ion-item>

        <ion-item no-padding>
          <ion-label ion-text color="primary" class="bold" stacked>{{ 'songlist.detail.songdesc.title' | translate }}</ion-label>
          <ion-textarea formControlName="songDescription" type="text" placeholder="What's this song about?">
          </ion-textarea>
        </ion-item>

        <button ion-button block color="primary" type="submit" [disabled]="!createSongForm.valid">
          <span *ngIf="!song.id">{{ 'songlist.detail.buttom.add' | translate }}</span>
          <span *ngIf="song.id">{{ 'songlist.detail.buttom.edit' | translate }}</span>
        </button>
      </form>
    </ion-card-content>
  </ion-card>

</ion-content>
