page-update-profile {
  ion-navbar {
    ion-buttons {
      margin-left: 2vw;
      ion-icon {
        font-size: 2.4rem;
      }
    }
  }

  .profile {
    background-color: color($colors, dark);
    position: relative;
    margin-left: -12.5%;
    margin-right: -12.5%;

    img-loader {
      width: 100%;
      height: 92px;
      display: block;
    }

    img {
      border-radius: 100%;
      width: 80px;
      height: 80px;
      margin: 0 auto;
    }

    img.activated,
    img:active {
      opacity: 0.75;
    }
  }

  div.form {
    width: 100vw;
    p {
      width: 88vw;
      margin-left: auto !important;
      margin-right: auto !important;
      color: $gray;
      span {
        color: color($colors, dark);
      }
      span.activated, span:active {
        opacity: 0.75;
      }
    }
    ion-list {
      margin-top: 2.5vh;
      ion-item {
        background: $light-gray !important;
        margin-left: auto !important;
        margin-right: auto !important;
        font-size: 1.2rem !important;
        width: 88vw !important;
        height: 6.5vh !important;
      }
      div {
        button {
          color: color($colors, light);
          font-size: 1.2rem;
          width: 88vw;
          height: 6.5vh;
          border-radius: 0 !important;
        }
      }
    }
  }

  div.toggle {
    width: 100vw;
    ion-list {
      ion-list-header {
        font-weight: bolder;
        margin-left: 2vw;
        font-size: 1.1rem;
        border-bottom: solid 0.1vw $light-gray !important;
      }
      ion-item {
        background-color: color($colors, light) !important;
        border-bottom: solid 0.1vw $light-gray !important;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.2rem !important;
        width: 100vw !important;
        height: 6.5vh !important;
        ion-label {
          margin-left: 2vw !important;
        }
        ion-toggle {
          margin-right: 2vw !important;
        }
      }
      div {
        button {
          margin-top: 2.5vh;
          color: color($colors, light);
          font-size: 1.2rem;
          width: 88vw;
          height: 6.5vh;
          border-radius: 0 !important;
          margin-bottom: -2.5vh;
        }
      }
    }
  }
}
