<ion-header class="no-shadow">
  <ion-navbar class="no-border text-light" hideBackButton="true">
    <ion-buttons start>
      <button ion-button tappable (click)="navCtrl.pop()"><ion-icon name="md-close"></ion-icon></button>
    </ion-buttons>
    <ion-title><strong>{{ 'auth.nav.title.profile' | translate }}</strong></ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="light-bg">
  <div class="profile presentation-bg" text-center padding>
    <img-loader [src]="user.photo" tappable (click)="setPhoto()" *ngIf="user"></img-loader>
    <p class="bold" ion-text color="light" text-center tappable (click)="setPhoto()" no-margin>{{ 'auth.form.editphoto' | translate }}</p>
  </div>

  <div class="padding2x" margin-bottom>
    <form [formGroup]="profileForm" (keydown)="keyDownFunction($event)" margin-bottom>
      <ion-item class="light-bg" no-padding>
        <ion-label color="primary" stacked>
          <span class="bold">{{ 'auth.form.nombre' | translate }}</span>
        </ion-label>
        <ion-input type="text" formControlName="nombre" ion-text color="dark"></ion-input>
      </ion-item>
      <p ion-text no-margin color="danger" class="text-12x has-error animated fadeIn" *ngIf="(profileForm.controls.nombre.hasError('required') || !profileForm.controls.nombre.valid) && hasError">{{ 'auth.form.error.nombre' | translate }}</p>

      <ion-item class="light-bg" no-padding>
        <ion-label color="primary" stacked>
          <span class="bold">{{ 'auth.form.apellido1' | translate }}</span>
        </ion-label>
        <ion-input type="text" formControlName="apellido1" ion-text color="dark"></ion-input>
      </ion-item>
      <p ion-text no-margin color="danger" class="text-12x has-error animated fadeIn" *ngIf="(profileForm.controls.apellido1.hasError('required') || !profileForm.controls.apellido1.valid) && hasError">{{ 'auth.form.error.apellido1' | translate }}</p>

      <ion-item class="light-bg" no-padding>
        <ion-label color="primary" stacked>
          <span class="bold">{{ 'auth.form.username' | translate }}</span>
        </ion-label>
        <ion-input type="text" formControlName="username" (input)="onInput($event.target.value)" ion-text color="dark"></ion-input>
      </ion-item>
      <p ion-text no-margin color="danger" class="text-12x has-error animated fadeIn" *ngIf="(profileForm.controls.username.hasError('required') || !profileForm.controls.username.valid) && hasError">{{ 'auth.form.error.username' | translate }}</p>
      <p ion-text no-margin color="danger" class="text-12x has-error animated fadeIn" *ngIf="!uniqueUsername && profileForm.controls.username.valid && hasError">{{ 'auth.form.error.exists' | translate }}</p>

      <ion-item class="light-bg" no-padding>
        <ion-label color="primary" stacked>
          <span class="bold">{{ 'auth.form.email' | translate }}</span>
        </ion-label>
        <ion-input type="email" formControlName="email" ion-text color="dark"></ion-input>
      </ion-item>
      <p ion-text no-margin color="danger" class="text-12x has-error animated fadeIn" *ngIf="(profileForm.controls.email.hasError('required') || !profileForm.controls.email.valid) && hasError">{{ 'auth.form.error.email' | translate }}</p>

    </form>

    <ion-item class="light-bg" no-padding margin-bottom>
      <ion-label color="primary" stacked>
        <span class="bold">{{ 'auth.profile.notifications' | translate }}Online</span>
      </ion-label>
      <ion-toggle [(ngModel)]="online"></ion-toggle>
    </ion-item>

    <button ion-button block color="primary" (click)="updateProfile()" [disabled]="!network.online()">
      <strong>{{ 'auth.button.save' | translate }}</strong>
    </button>

  </div>

</ion-content>
