<ion-header class="no-shadow">
  <ion-navbar class="no-border">
    <button ion-button menuToggle class="text-light">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <span class="text-light">
        <strong>{{ 'eventlist.detail.title' | translate }}</strong>
      </span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="light-bg">

  <ion-card>
    <ion-card-title padding class="bb-secondary">
      <h1 ion-text color="primary" class="bold">{{ event.eventName }}</h1>
      <p ion-text color="primary">
        {{ event.eventDescription }}
      </p>
    </ion-card-title>
    <ion-card-content>


      <h2 ion-text color="primary">{{ 'eventlist.detail.date.title' | translate }}</h2>
      <p margin-bottom>
        {{ event.eventDate | date:'medium' }}
      </p>

      <h2 ion-text color="primary">{{ 'eventlist.detail.location.title' | translate }}</h2>
      <p>
        {{ event.eventLocation }}
      </p>
    </ion-card-content>
    <ion-card-content>
      <button ion-button block color="primary" (click)="editEvent(event)">
        <span class="bold">Edit Event</span>
      </button>
      <button ion-button block color="danger" (click)="deleteEvent(event.id, event.eventName)">
        Delete Event
      </button>
    </ion-card-content>
  </ion-card>

</ion-content>
