// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";

// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;
// //

@import "ionic.globals";

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
// You may access the colors from within your app's scss using color: color($colors, 'COLOR');
$colors: (
  primary:    #f6820d,
  secondary:  #ffcb2b,
  danger:     #dc3545,
  light:      #fff7d5,
  dark:       #27303D
);

$light-gray:  #eee;
$dark-gray:   #ddd;
$gray:        #b2b2b2;

$darkness:    #ff8300;
$lightBright:  #ffea2e;

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

$menu-width: 280px;

$grid-max-widths: (
  lg: 992px
);
// $text-color: color($colors, primary);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
// Since the app's custom skin is based on iOS, override some of the iOS component's design.
$alert-ios-button-text-color: color($colors, dark); //#007aff;
$alert-ios-input-border-color: color($colors, secondary);
$toolbar-ios-title-font-size: 1.6rem;
$toggle-ios-width: 58.5px;
$searchbar-ios-background-color: #fff;
// $searchbar-ios-input-height: 44px;
$searchbar-ios-input-search-icon-size: 1.2rem;
// Clear the default svg icon since we'll use a custom svg in home.scss .searchbar-ios .searchbar-search-icon
// $searchbar-ios-input-search-icon-svg: "<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 0 0'></svg>";

// $button-ios-text-color: color($colors, dark);
$toolbar-ios-button-color: color($colors, light);
$toolbar-md-button-color: $toolbar-ios-button-color;

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$alert-md-button-text-color: color($colors, dark);  //#007aff;
$alert-md-input-border-color: $alert-ios-input-border-color;
$toolbar-md-title-font-size: 1.6rem;


// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.
$list-border-color: $alert-ios-input-border-color;

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";

// Fonts
// --------------------------------------------------
// @import "roboto";
// @import "noto-sans";
