<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><strong>{{ 'geofirestore.title' | translate }}</strong></ion-title>
  </ion-navbar>
</ion-header>

<ion-content allow="geolocation">
  <agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker *ngFor="let marker of markers" [latitude]="marker.l[0]" [longitude]="marker.l[1]">
      <agm-info-window>
        <h3>
          <strong>{{ 'geofirestore.location' | translate }}</strong>
        </h3>
        <p>Code location: {{marker.g}} <br> You are at: {{marker.l[0]}}, {{marker.l[1]}} </p>
      </agm-info-window>
    </agm-marker>
  </agm-map>
</ion-content>
