<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar class="user-profile nav-transparent">

      <ion-grid>
        <ion-row *ngIf="auth.getUserData()">
          <ion-col col-4>
            <ion-avatar item-start>
              <img-loader class="user-avatar" [src]="auth.getUserData().photo"></img-loader>
            </ion-avatar>
          </ion-col>
          <ion-col col-8>
            <h4 ion-text class="text-white bold" no-margin>{{ auth.getUserData().firstName }} {{ auth.getUserData().lastName }}</h4>
            <p ion-text color="light" no-margin>{{ auth.getUserData().username }}</p>

            <button ion-button icon-left small color="light" (click)="menuCtrl.close(); nav.push('page-update-profile')">
              <ion-icon ion-text color="primary" name="contact"></ion-icon>
              <span ion-text color="primary">{{ 'auth.button.edit' | translate }}</span>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-toolbar>
  </ion-header>

  <ion-content [ngClass]="{'iPhoneX': iPhoneX}">
    <ion-list>
      <button ion-item class="text-15x" menuClose *ngFor="let p of pages" tappable (click)="openPage(p)">
        <ion-icon item-left [name]="p.icon" color="primary"></ion-icon>
        <span ion-text color="primary">{{p.title}}</span>
      </button>
    </ion-list>

    <div class="logout" *ngIf="auth.getUserData()">
      <button ion-button full color="dark" (click)="logout()" [disabled]="!network.online()">
        <ion-icon name="log-out"></ion-icon> {{ 'auth.button.logout' | translate }}
      </button>
    </div>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
