// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// Grid Fixed
// ---------------------------------------------------
ion-header .toolbar {
 margin: auto;
}

@media (min-width: map-get($grid-breakpoints, lg)) {
 // ion-navbar.toolbar,
 ion-header .toolbar[fixed],
 ion-footer .toolbar[fixed],
 ion-tabs .tabbar {
   margin: 0;
   padding-right: calc((100% - #{map-get($grid-max-widths, lg)}) / 2);
   padding-left: calc((100% - #{map-get($grid-max-widths, lg)}) / 2);
 }

 .hideLg {
  display: none;
 }

 // .menu-content .ion-page .content {
 //  background-color: #FAFBFC !important;
 // }
}

.split-pane-visible > ion-menu {
  max-width: 304px !important;
}

.split-pane-visible > .split-pane-side {
  border-right: none !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25) !important;
}
// ----------------------------------------------------

.no-scroll .scroll-content {
  overflow: hidden;
}

// .toolbar-background {
//   background: color($colors, primary) !important;
//   border-bottom: solid 0.1vh $light-gray !important;
// }

img {
  object-fit: cover !important;
}


//// Background colors
.primary-bg {
  background-color: color($colors, primary) !important;
}

.secondary-bg {
  background-color: color($colors, secondary) !important;
}

.light-bg {
  background-color: color($colors, light) !important;
}

.danger-bg {
  background-color: color($colors, danger) !important;
}

.dark-bg {
  background-color: color($colors, dark) !important;
}

.presentation-bg {
  background-image: linear-gradient(135deg, color($colors, primary), color($colors, secondary));
  // background-color: $darkness;
}

.profile-bg {
  background-image: linear-gradient(135deg, color($colors, primary), color($colors, secondary), color($colors, light));
}


//// Text colors
.text-primary {
  color: color($colors, primary) !important;
}

.text-secondary {
  color: color($colors, secondary) !important;
}

.text-light {
  color: color($colors, light) !important;
}

.text-dark {
  color: color($colors, dark) !important;
}

.text-white {
  color: #fff !important;
}

.text-bright {
  color: $lightBright !important;
}

// text size
// Text sizes
.text-sm {
	font-size: .85rem !important;
}

.text-1x {
	font-size: 1rem !important;
}

.text-11x {
	font-size: 1.1rem !important;
}

.text-12x {
	font-size: 1.2rem !important;
}

.text-15x {
	font-size: 1.5rem !important;
}

.text-18x {
	font-size: 1.8rem !important;
}

.text-2x {
	font-size: 2rem !important;
}

.medium {
  font-weight: 500 !important;
}

.bold {
  font-weight: 700 !important;
}

// Social Buttons
// buttons configs
.btn-group {
  .button-ios,
  .button-md {
    border-radius: 0 !important;
    &:first-of-type {
      border-radius: 1rem 0 0 1rem !important;
    }
    &:last-of-type {
      border-radius: 0 1rem 1rem 0 !important;
    }
  }
}

.btn-facebook {
  background-color: #3B5999;
}

.btn-twitter {
  background-color: #00ACEE;
}

.btn-gplus {
  background-color: #E04006
}
////
// Borders

.bb-primary {
  border-bottom: 1px solid color($colors, primary);
}

.bb-secondary {
  border-bottom: 1px solid color($colors, secondary);
}

.bb-light {
  border-bottom: 1px solid color($colors, light);
}

.has-error {
  margin: 0;
  padding: .75rem;
  background-color: color($colors, light);
  border-radius: 0 0 4px 4px;
}
/////
// Double properties

.padding2x {
  padding: 32px;
}

/////
// Auth Content
.auth-content {
  width: 80%;

  .logo {
    width: 80px;
    height: 80px;
    margin: 2em auto .5rem;

    img {
      border-radius: 50%;
    }
  }

  .list-form {
    padding: 0;
    margin-bottom: 0;

    ion-item {
      background: none;
      padding: 0;

      &:first-child {
        border-top: none;
      }

      &:after {
        display: none;
      }

      &.item-md,
      .item-ios {
        &.item-block {
          .item-inner {
            border-bottom-color: rgba(color($colors, light), .5) !important;
          }
        }
      }

      ion-label {
        font-size: 1em;
        color: color($colors, light);
        &.label-ios,
        &.label-md {
          margin-top: 0;
        }
      }

      input {
        color: color($colors, light);
      }
    }
  }

}

/////
// Menu user profile
.user-profile {
  .user-avatar {
    width: 72px;
    height: 72px;
    display: inline-block;
    border-radius: 50%;
    box-shadow: inset 0 0 10rem rgba(0,0,0,.25), 0 0 4rem rgba(255,255,255,.45);
    background-size: 100%;
    img {
      width: 72px;
      height: 72px;
      border-radius: 50%;
    }
  }
  .toolbar-background {
    background-image: linear-gradient(135deg, color($colors, primary), color($colors, secondary));
  }
}
// navbar style
ion-navbar.no-border {
  .toolbar-background {
    border: none;
  }
}
// Custom toolbar
.toolbar {
  .toolbar-background {
    background: linear-gradient(135deg, color($colors, primary), color($colors, secondary));
    background-repeat: repeat-x;
  }
  .toolbar-title {
    &.toolbar-title-ios,
    &.toolbar-title-md {
      color: #fff !important;
    }
  }
}
// remove shadow from header
.md {
  ion-header {
    &.no-shadow::after {
      background-image: none;
    }
  }

  ion-toolbar,
  ion-navbar {
    .button,
    .button.activated {
      box-shadow: none;
    }
  }
}

.ios {
  ion-list ion-item {
    pointer-events: none;
  }
}
/////

.card {
  border-radius: 8px;
}

/////
ion-menu {
  ion-item:first-child {
    border-top: 0 !important;
    border-bottom: 0 !important;
  }

  ion-item:not(:first-child) {
    border-top: solid 0.1vw $light-gray !important;
    border-bottom: solid 0.1vw $light-gray !important;
  }

  ion-item.selected,
  ion-item:active {
    color: $gray;
    background: $dark-gray;
  }

  .logout {
    width: 100%;
    position: absolute;
    bottom: 0;

    button {
      margin-bottom: 0;
    }
  }

  .iPhoneX {
    div.profile {
      bottom: 4vh !important;
    }
  }
}

// CSS Animations
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.animated.ringe {
  animation-duration: 2s;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
  animation-duration: .75s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}
