<ion-header class="no-shadow">
  <ion-navbar class="no-border">
    <button ion-button menuToggle class="text-light">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <span class="text-light">
        <strong>{{ 'songlist.title' | translate }}</strong>
      </span>
    </ion-title>
    <ion-buttons end>
      <button ion-button color="light" icon-only (click)="navCtrl.push('page-song-create')">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="light-bg" padding>
  <ion-card class="dark-bg" *ngIf="(songList | async)?.length === 0">
    <ion-card-content>
      <p ion-text color="light" no-margin>{{ 'songlist.msg.notavailable' | translate }}</p>
    </ion-card-content>
  </ion-card>

  <ion-list *ngFor="let song of songList | async" (click)="goToDetailPage(song)" class="primary-bg">
    <ion-card-header no-padding>
      <ion-list>
      <ion-thumbnail item-left>
        <img src="{{ song.photo }}">
      </ion-thumbnail>
        <ion-item class="presentation-bg">
          <ion-icon name="musical-note" color="secondary" item-start></ion-icon>
          <h2 ion-text>
            <strong class="text-white">{{ song.nombre }} {{ song.apellido1 }}</strong>
          </h2>
          <p ion-text color="light">
            <strong>{{ song.artistName }}</strong> / {{ song.albumName }}
          </p>
        </ion-item>
      </ion-list>
    </ion-card-header>
    <ion-card-content no-padding>
      <ion-list>
        <ion-item color="primary">
          <p ion-text color="light">
            {{ song.songDescription }}
          </p>
        </ion-item>
      </ion-list>

    </ion-card-content>
  </ion-list>
</ion-content>
