<ion-header class="no-shadow">
  <ion-navbar class="no-border">
    <button ion-button menuToggle class="text-light">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <span class="text-light">
        <strong>{{ 'eventlist.title' | translate }}</strong>
      </span>
    </ion-title>
    <ion-buttons end>
      <button ion-button color="light" icon-only (click)="navCtrl.push('page-event-create')">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="light-bg" padding>
  <ion-card class="dark-bg" *ngIf="(eventList | async)?.length === 0">
    <ion-card-content>
      <p ion-text color="light" no-margin>{{ 'eventlist.msg.notavailable' | translate }}</p>
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let event of eventList | async" (click)="goToDetailPage(event)" class="primary-bg">
    <ion-card-header no-padding>
      <ion-list>
        <ion-item class="presentation-bg">
          <ion-icon name="calendar" color="secondary" item-start></ion-icon>
          <h2 ion-text>
            <strong class="text-white">{{ event.eventName }}</strong>
          </h2>
          <p ion-text color="light">
            {{ event.eventDate | date:'medium' }}
          </p>
          <p ion-text color="light">
            <strong>{{ event.eventLocation }}</strong>
          </p>
        </ion-item>
      </ion-list>
    </ion-card-header>
    <ion-card-content no-padding>
      <ion-list>
        <ion-item color="primary">
          <p ion-text color="light">
            {{ event.eventDescription }}
          </p>
        </ion-item>
      </ion-list>

    </ion-card-content>
  </ion-card>
</ion-content>
