<ion-header class="no-shadow">
  <ion-navbar class="no-border">
    <button ion-button menuToggle class="text-light">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <span class="text-light"><strong>{{ 'userlist.title' | translate }}</strong></span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar class="primary-bg" [(ngModel)]="searchUser" [placeholder]="translate.get('userlist.search')"></ion-searchbar>

  <ion-list [virtualScroll]="users | usersFilter: [excludedIds, searchUser]" [headerFn]="header" approxItemHeight="60px">
    <ion-item-divider *virtualHeader="let header" class="light-bg">
      <span ion-text color="primary" class="bold">{{ translate.get('userlist.user') }}</span>
    </ion-item-divider>
    <button ion-item no-lines *virtualItem="let user" tappable (click)="goToDetailPage(user)">
      <ion-avatar item-start>
        <img-loader [src]="user?.photo"></img-loader>
      </ion-avatar>
      <h2 text-uppercase ion-text color="primary">{{ user?.nombre }} {{ user?.apellido1 }}</h2>
      <p text-lowercase ion-text color="dark">{{ user?.username }}</p>
	  <h2 text-uppercase ion-text color="dark">{{ user?.empresa }}</h2>
    </button>
  </ion-list>
</ion-content>
