page-register {
  .grid {
    padding: 0;
    .col {
      padding: 0;
    }
  }

  .btn-group {
    .button-ios,
    .button-md {
      border-radius: 0;
      &:first-of-type {
        border-radius: 2.2rem 0 0 2.2rem !important;
      }
      &:last-of-type {
        border-radius: 0 2.2rem 2.2rem 0 !important;
      }
    }
  }

  .scroll-content {
    display: flex;
    align-items: baseline;
    justify-content: center;
  }
}
