<ion-content class="no-scroll presentation-bg" [ngClass]="{'iPhoneX': iPhoneX}">
  <ion-slides pager="true" id="slides" class="animated fadeIn">
    <ion-slide>
      <img src="assets/icon/icon256.png"/>
      <h1 ion-text color="light">
        <span class="text-bright">fire</span><strong>Ionic</strong>
      </h1>
      <!-- <h3 ion-text color="primary"><strong>{{ 'intro.slide1.title' | translate }}</strong></h3> -->
      <p ion-text color="light">{{ 'intro.slide1.text' | translate }}</p>
    </ion-slide>
    <ion-slide>
      <img src="assets/icon/icon256.png"/>
      <h1 ion-text color="light">
        <span class="text-bright">fire</span><strong>Ionic</strong>
      </h1>
      <!-- <h3 ion-text color="primary"><strong>{{ 'intro.slide2.title' | translate }}</strong></h3> -->
      <p ion-text color="light">{{ 'intro.slide2.text' | translate }}</p>
    </ion-slide>
    <ion-slide>
      <img src="assets/icon/icon256.png"/>
      <h1 ion-text color="light">
        <span class="text-bright">fire</span><strong>Ionic</strong>
      </h1>
      <!-- <h3 ion-text color="primary"><strong>{{ 'intro.slide3.title' | translate }}</strong></h3> -->
      <p ion-text color="light">{{ 'intro.slide3.text' | translate }}</p>
    </ion-slide>
  </ion-slides>

  <div padding-horizontal text-center>
    <button ion-button block round margin-bottom color="dark" (click)="navCtrl.setRoot('page-login')">
      {{ 'intro.button.login' | translate }}
    </button>
    <button ion-button block round color="primary" class="text-light" (click)="navCtrl.setRoot('page-register')">
      <strong>{{ 'intro.button.register' | translate }}</strong>
    </button>
  </div>
</ion-content>
