page-intro {
  .swiper-pagination-bullet {
    margin-left: .5rem !important;
    margin-right: .5rem !important;
    margin-bottom: 2rem !important;
    width: 12px !important;
    height: 12px !important;
  }

  .swiper-pagination-bullet-active {
    background: color($colors, light) !important;
  }

  ion-slides {
    height: 65vh;
    width: 88vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    ion-slide {
      color: color($colors, dark);
      img {
        max-width: 96px !important;
        border-radius: 50%;
      }
      h1 {
        font-size: 2.6rem;
        letter-spacing: -.05rem;
        margin-top: 0;
      }
      p {
        margin-left: auto;
        margin-right: auto;
        width: 70vw;
        font-size: 1.5rem;
      }
    }
  }

  .iPhoneX {
    ion-slides {
      margin-top: 1.5vh;
    }
  }
}
