<ion-header class="no-shadow">
  <ion-navbar class="no-border">
    <ion-title><b>{{ 'auth.nav.title.create' | translate }}</b></ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="presentation-bg">
  <div class="auth-content">
    <div class="profile" text-center>
      <img-loader [src]="photo" tappable (click)="setPhoto()"></img-loader>
      <p class="bold" ion-text color="primary" text-center tappable (click)="setPhoto()">{{ 'auth.form.addphoto' | translate }}</p>
    </div>

    <div padding-vertical class="animated fadeIn">
      <form [formGroup]="profileForm" (keydown)="keyDownFunction($event)" class="list-form">

        <ion-item>
          <ion-label floating>
            <ion-icon name="list" item-start class="text-white"></ion-icon>
            {{ 'auth.form.nombre' | translate }}
          </ion-label>
          <ion-input type="text" formControlName="nombre"></ion-input>
        </ion-item>
        <p ion-text no-margin color="danger" class="text-12x has-error animated fadeIn" *ngIf="(profileForm.controls.nombre.hasError('required') || !profileForm.controls.nombre.valid) && hasError">{{ 'auth.form.error.nombre' | translate }}</p>

        <ion-item>
          <ion-label floating>
            <ion-icon name="list" item-start class="text-white"></ion-icon>
            {{ 'auth.form.apellido1' | translate }}
          </ion-label>
          <ion-input type="text" formControlName="apellido1"></ion-input>
        </ion-item>
        <p ion-text no-margin color="danger" class="text-12x has-error animated fadeIn" *ngIf="(profileForm.controls.apellido1.hasError('required') || !profileForm.controls.nombre.valid) && hasError">{{ 'auth.form.error.apellido1' | translate }}</p>

        <ion-item>
          <ion-label floating>
            <ion-icon name="mail" item-start class="text-white"></ion-icon>
            {{ 'auth.form.email' | translate }}
          </ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
        <p ion-text no-margin color="danger" class="text-12x has-error animated fadeIn" *ngIf="(profileForm.controls.email.hasError('required') || !profileForm.controls.email.valid) && hasError">{{ 'auth.form.error.email' | translate }}</p>

        <ion-item>
          <ion-label floating>
            <ion-icon name="person" item-start class="text-white"></ion-icon>
            {{ 'auth.form.username' | translate }}
          </ion-label>
          <ion-input type="text" formControlName="username" (input)="onInput($event.target.value)"></ion-input>
        </ion-item>
        <p ion-text no-margin color="danger" class="text-12x has-error animated fadeIn" *ngIf="(profileForm.controls.username.hasError('required') || !profileForm.controls.username.valid) && hasError">{{ 'auth.form.error.username' | translate }}</p>
        <p ion-text no-margin color="danger" class="text-12x has-error animated fadeIn" *ngIf="!uniqueUsername && profileForm.controls.username.valid && hasError">{{ 'auth.form.error.exists' | translate }}</p>


        <div text-center padding-vertical>
          <button ion-button block round color="dark" (click)="createProfile()" [disabled]="!network.online()"><b>{{ 'auth.button.create' | translate }}</b></button>
        </div>

      </form>
    </div>
  </div>
</ion-content>
