page-create-profile {
  .profile {
    background-color: color($colors, dark);
    position: relative;
    margin-left: -12.5%;
    margin-right: -12.5%;
    padding: 1rem 0;

    img-loader {
      width: 100%;
      height: 92px;
      display: block;
    }

    img {
      border-radius: 100%;
      width: 80px;
      height: 80px;
      margin: 1rem auto 0;
    }

    img.activated,
    img:active {
      opacity: 0.75;
    }
  }

  .scroll-content {
    display: flex;
    align-items: baseline;
    justify-content: center;
  }
}
