<ion-header class="no-shadow">
  <ion-navbar class="no-border">
    <button ion-button menuToggle class="text-light">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <span class="text-light">
        <strong>{{ 'songlist.detail.title' | translate }}</strong>
      </span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="light-bg">

  <ion-card>
      <div class="profile">
      <img src="{{ song.photo }}">
    </div>
    <ion-card-title padding class="bb-secondary">
      <h1 ion-text color="primary" class="bold">{{ song.songName }}</h1>
      <p ion-text color="primary">
        The song {{ song.nombre }} was released by {{ song.artistName }}.
      </p>
    </ion-card-title>
    <ion-card-content>

      <h2 ion-text color="primary">{{ 'songlist.detail.artist.title' | translate }}</h2>
      <p margin-bottom>
        {{ song.nombre }}
      </p>

      <h2 ion-text color="primary">{{ 'songlist.detail.album.title' | translate }}</h2>
      <p margin-bottom>
        {{ song.apellido1 }}
      </p>

      <h2 ion-text color="primary">{{ 'songlist.detail.desc.title' | translate }}</h2>
      <p>
        {{ song.songDescription }}
      </p>
    </ion-card-content>
    <ion-card-content>
      <button ion-button block color="primary" (click)="editSong(song)">
        <span class="bold">{{ 'songlist.detail.buttom.edit' | translate }}</span>
      </button>
      <button ion-button block color="danger" (click)="deleteSong(song.id, song.songName)">
        {{ 'songlist.detail.buttom.delete' | translate }}
      </button>
    </ion-card-content>
  </ion-card>

</ion-content>
