<ion-header class="no-shadow">
  <ion-navbar class="no-border">
    <button ion-button menuToggle class="text-light">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <span class="text-light"><strong>{{ 'home.title' | translate }}</strong></span>
    </ion-title>
    <ion-buttons end>
      <button ion-button *ngIf="auth.getUserData()" (click)="navCtrl.push('page-update-profile')">
        <img-loader [src]="auth.getUserData().photo"></img-loader>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="light-bg" padding>
  <ion-card>
    <ion-card-header no-padding>
      <ion-list>
        <ion-item class="presentation-bg">
          <ion-avatar item-start>
            <img src="assets/icon/icon256.png" />
          </ion-avatar>
          <h2 ion-text class="text-white">
            <span>{{ 'home.card.titlea' | translate }}</span><strong>{{ 'home.card.titleb' | translate }}</strong>
          </h2>
          <p ion-text color="light"><strong>{{ 'home.card.description' | translate }}</strong></p>
        </ion-item>
      </ion-list>
    </ion-card-header>

    <ion-card-content no-padding>
      <ion-list color="primary">
        <ion-item>
          <ion-icon name="flame" color="secondary" item-start></ion-icon>
          <h2 ion-text>
            <strong class="text-primary">{{ 'home.card.item1.title' | translate }}</strong>
          </h2>
          <p ion-text color="dark"><strong>{{ 'home.card.item1.desc' | translate }}</strong></p>
        </ion-item>
        <ion-item>
          <ion-icon name="flame" color="secondary" item-start></ion-icon>
          <h2 ion-text>
            <strong class="text-primary">{{ 'home.card.item2.title' | translate }}</strong>
          </h2>
          <p ion-text color="dark">
            <strong>{{ 'home.card.item2.desc' | translate }}</strong>
          </p>
        </ion-item>
        <ion-item>
          <ion-icon name="flame" color="secondary" item-start></ion-icon>
          <h2 ion-text>
            <strong class="text-primary">{{ 'home.card.item3.title' | translate }}</strong>
          </h2>
          <p ion-text color="dark">
            <strong>{{ 'home.card.item3.desc' | translate }}</strong>
          </p>
        </ion-item>
        <ion-item>
          <ion-icon name="flame" color="secondary" item-start></ion-icon>
          <h2 ion-text>
            <strong class="text-primary">{{ 'home.card.item4.title' | translate }}</strong>
          </h2>
          <p ion-text color="dark">
            <strong>{{ 'home.card.item4.desc' | translate }}</strong>
          </p>
        </ion-item>
        <ion-item>
          <ion-icon name="flame" color="secondary" item-start></ion-icon>
          <h2 ion-text>
            <strong class="text-primary">{{ 'home.card.item5.title' | translate }}</strong>
          </h2>
          <p ion-text color="dark">
            <strong>{{ 'home.card.item5.desc' | translate }}</strong>
          </p>
        </ion-item>
        <ion-item>
          <ion-icon name="flame" color="secondary" item-start></ion-icon>
          <h2 ion-text>
            <strong class="text-primary">{{ 'home.card.item6.title' | translate }}</strong>
          </h2>
          <p ion-text color="dark">
            <strong>{{ 'home.card.item6.desc' | translate }}</strong>
          </p>
        </ion-item>
        <ion-item>
          <ion-icon name="flame" color="secondary" item-start></ion-icon>
          <h2 ion-text>
            <strong class="text-primary">{{ 'home.card.item7.title' | translate }}</strong>
          </h2>
          <p ion-text color="dark">
            <strong>{{ 'home.card.item7.desc' | translate }}</strong>
          </p>
        </ion-item>
        <ion-item>
          <ion-icon name="flame" color="secondary" item-start></ion-icon>
          <h2 ion-text>
            <strong class="text-primary">{{ 'home.card.item8.title' | translate }}</strong>
          </h2>
          <p ion-text color="dark">
            <strong>{{ 'home.card.item8.desc' | translate }}</strong>
          </p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
