page-home {
  // .scroll-content {
  //   background-color: $light-gray;
  // }

  ion-navbar {
    img {
      width: 6.75vw;
      height: 6.75vw;
      border-radius: 100%;
      &.activated,
      &:active {
        opacity: .75;
      }
    }
  }
  ion-list {
    // margin-top: .5vh;

    .item-ios,
    .item-md {
      // border-bottom: solid .1vh $light-gray !important;
      // color: color($colors, dark) !important;

      // img {
      //   width: 4.5rem !important;
      //   height: 4.5rem !important;
      // }

      // h2 {
      //   font-weight: bolder !important;
      //   font-size: 1.2rem !important;
      // }

      p {
        font-size: 1.2rem !important;
      }
    }

  }

}
